Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml

Pick lint
  .github/copilot-instructions.md
Due: none

Fix typo
  .github/copilot-instructions.md
Due: none

COde review
  build/preparerelease.ps1
Due: none

COde review
  build/promotenuget.ps1
Due: none

Add clang GHA coverage for linux
  .github/workflows/wsl.yml
Due: none

Add more PowerShell scripts for automating releases (#296)
  .github/copilot-instructions.md
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/wsl.yml
  build/completerelease.ps1
  build/preparerelease.ps1
  build/promotenuget.ps1
  build/updatevcpkg.ps1
  build/updatewinget.ps1
Due: none

Update CMake BULID_SHARED_LIBS=ON linker settings
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Cmake update
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add policy file
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pick yaml lint
  .azuredevops/policies/branchClassification.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update CMake BUILD_SHARED_LIBS=ON linker settings (#297)
  .azuredevops/policies/branchClassification.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Convert release instructions to CoPilot skill
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pick markdown lint
  .github/skills/release/SKILL.md
Due: none

Code review
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxmesh.cmd
Due: none

add usage skill
  .github/skills/directxmesh-usage/SKILL.md
  .github/skills/directxmesh-usage/reference/overview.md
Due: none

Code review
  .github/skills/release/SKILL.md
Due: none

More code review
  .github/skills/release/SKILL.md
Due: none

A few more refinements
  .github/skills/directxmesh-usage/SKILL.md
Due: none

Converted ascii art to mermaid
  .github/skills/directxmesh-usage/SKILL.md
Due: none

Move usage skill to public location
  .github/copilot-instructions.md
  README.md
  skills/directxmesh-usage/SKILL.md
  skills/directxmesh-usage/reference/overview.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update readme
  README.md
Due: none

review
  README.md
Due: none

Add copilot skill
  skills/mesh-converter/SKILL.md
  skills/mesh-converter/reference/options.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add more YAML front matter
  skills/directxmesh-usage/SKILL.md
  skills/mesh-converter/SKILL.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pick markdown lint
  .github/copilot-instructions.md
  skills/mesh-converter/SKILL.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add CoPilot skills (#299)
  .github/copilot-instructions.md
  .github/skills/release/SKILL.md
  .github/skills/release/assets/vcpkgdxmesh.cmd
  .github/workflows/codeql.yml
  .github/workflows/msvc.yml
  .gitignore
  README.md
  skills/directxmesh-usage/SKILL.md
  skills/directxmesh-usage/reference/overview.md
  skills/mesh-converter/SKILL.md
  skills/mesh-converter/reference/options.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix warnings when upgraded to clang 22
  CMakeLists.txt
  DirectXMesh/DirectXMeshP.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix warnings when upgraded to clang 22 (#300)
  CMakeLists.txt
  DirectXMesh/DirectXMeshP.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add GitHub Action for MacOS
  .github/workflows/macos.yml
  CMakePresets.json
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

directx-headers port won't work on macos
  .github/copilot-instructions.md
  .github/workflows/macos.yml
Due: none

pick lint
  .github/copilot-instructions.md
  .github/workflows/mingw.yml
Due: none

Update copilot instr
  .github/copilot-instructions.md
Due: none

Add GitHub Action for MacOS
  .github/workflows/macos.yml
Due: none

Fix triplet
  .github/workflows/macos.yml
Due: none

More fixes
  .github/workflows/macos.yml
Due: none

malloc.h is Win32 only
  DirectXMesh/DirectXMeshP.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pick lint
  .github/workflows/macos.yml
Due: none
