Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

.azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml:
  schedules:
  - cron: 0 1 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-24.04
  jobs:
  - job: BUILD_WSL
    displayName: Windows Subsystem for Linux (WSL)
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
  ...

.azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml:
  schedules:
  - cron: 0 1 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: ubuntu-20.04
  jobs:
  - job: BUILD_WSL
    displayName: Windows Subsystem for Linux (WSL)
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
  ...

.azuredevops/pipelines/DirectXMesh-GitHub.yml:
  schedules:
  - cron: 0 6 * * *
    displayName: Nightly build
    branches:
      include:
      - main
  name: $(Year:yyyy).$(Month).$(DayOfMonth)$(Rev:.r)
  pool:
    vmImage: windows-2019
  jobs:
  - job: DESKTOP_BUILD
    displayName: Windows Desktop
    timeoutInMinutes: 120
    cancelTimeoutInMinutes: 1
    strategy:
  ...

YAML lint
  .github/workflows/bvt.yml
  .github/workflows/codeql.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

Markdown lint
  CHANGELOG.md
  README.md
  SECURITY.md
Due: none

editorconfig lint
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshP.h
  DirectXMesh/DirectXMeshVBReader.cpp
  DirectXMesh/DirectXMeshVBWriter.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  Meshconvert/CmdLineHelpers.h
  Meshconvert/Mesh.h
  Meshconvert/Meshconvert.cpp
  Utilities/FlexibleVertexFormat.h
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

YAML lint
  .azuredevops/pipelines/DirectXMesh-GitHub-MinGW.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-11.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml
  .azuredevops/policies/approvercountpolicy.yml
  .azuredevops/templates/DirectXMesh-build-gdk.yml
  .azuredevops/templates/DirectXMesh-build-uwp.yml
  .azuredevops/templates/DirectXMesh-build-win32.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/vcpkg.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

More lint
  .github/linters/.markdown-lint.yml
  Meshconvert/CMO.h
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Final lint
  .azuredevops/policies/approvercountpolicy.yml
  .github/workflows/vcpkg.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Code review
  DirectXMesh/DirectXMesh.inl
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fixed rule file name
  .github/linters/.editorconfig-checker.json
Due: none

yaml lint rule tweak
  .github/linters/.yaml-lint.yml
  .github/workflows/msbuild.yml
Due: none

Code review
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Missed msbuild.yaml in #232
  .github/workflows/msbuild.yml
Due: none

windows-2022 runner missing v142 specture libs
  .github/workflows/msbuild.yml
Due: none

2019 fix
  .github/workflows/msbuild.yml
Due: none

Code review
  .github/workflows/lint.yml
Due: none

line endings for yaml
  .gitattributes
  .github/linters/.yaml-lint.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Full clean
  .github/workflows/lint.yml
Due: none

Try agian
  .github/workflows/lint.yml
Due: none

try try again
  .github/workflows/lint.yml
Due: none

Fixed typo
  .gitattributes
  .github/workflows/lint.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Slim doesn't support powershell lint
  .github/linters/.powershell-psscriptanalyzer.psd1
  .github/workflows/lint.yml
  build/onefuzz-setup.ps1
Due: none

Add YML to editorconfig
  .editorconfig
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix yaml indent
  .editorconfig
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Debug log changes to failing pipeline
  .azuredevops/pipelines/DirectXMesh-GitHub-SDK-release.yml
  .azuredevops/templates/DirectXMesh-build-uwp.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Code review
  .azuredevops/pipelines/DirectXMesh-GitHub-SDK-release.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

initial work on glTF
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/json.hpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix adjacency guard condition
  DirectXMesh/DirectXMeshletGenerator.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

minimal version test
  Meshconvert/Mesh_glTF.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Loading of buffer data
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

JSON must come from VCPKG
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/json.hpp
  build/vcpkg.json
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

July 2, 2025
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

July 9, 2025 (#238)
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  build/preparerelease.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Code review feedback for WaveFrontReader
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Code review feedback for WaveFrontReader (#239)
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add ARM64 GHA
  .github/workflows/arm64.yml
Due: none

Add BVTs on ARM64
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
Due: none

linter suppress
  .github/linters/actionlint.yaml
Due: none

Renamed
  .github/linters/actionlint.yml
Due: none

Code review
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
Due: none

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml
