Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml

Update ADO pipeline to use GDK new layouts for 2510 (#256)
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
  .azuredevops/templates/DirectXMesh-setup-gdk-auto.yml
  build/Directory.Build.props
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Fixed YAML bug in pipeline
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fixed YAML bug in pipeline (#257)
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix markdown lint
  .github/copilot-instructions.md
Due: none

Use 8.3.2 instead
  .github/workflows/lint.yml
Due: none

YAML lint
  .github/workflows/lint.yml
Due: none

CMakePresets code review
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

JSON reformat
  CMakePresets.json
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add helper scripts
  .gitignore
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Added some helper scripts (#263)
  .gitignore
  CMakePresets.json
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update GHA that use VCPKG to support workflow trigger
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

Update GHA that use VCPKG to support workflow trigger (#264)
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
Due: none

Add ADO inventory policy
  .azuredevops/policies/inventory-enablement.yml
  es-metadata.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Improved VS 2026 support
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add VS 2026 slnx/vcxproj
  DirectXMesh/DirectXMesh_Desktop_2026_Win10.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2026_Win10.vcxproj.filters
  DirectXMesh_Desktop_2026_Win10.slnx
  Meshconvert/Meshconvert_Desktop_2026_Win10.vcxproj
  Meshconvert/Meshconvert_Desktop_2026_Win10.vcxproj.filters
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Initial GHA for 2026
  .github/workflows/msbuild.yml
Due: none

Add more VS 2026
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

Update linter
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

Fix lint
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
Due: none

Load balance GHAs to 20 or less
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
Due: none

Removed _Win10 from VS 2026 as it is now meaningles
  .github/workflows/msbuild.yml
  DirectXMesh/DirectXMesh_Desktop_2026.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2026.vcxproj.filters
  DirectXMesh_Desktop_2026.slnx
  Meshconvert/Meshconvert_Desktop_2026.vcxproj
  Meshconvert/Meshconvert_Desktop_2026.vcxproj.filters
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Trim some duplicate ADO pipes
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Trim ADO test pipelines
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

VS 2026 projects (#269)
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
  .github/linters/actionlint.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/test.yml
  DirectXMesh/DirectXMesh_Desktop_2026.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2026.vcxproj.filters
  DirectXMesh_Desktop_2026.slnx
  Meshconvert/Meshconvert_Desktop_2026.vcxproj
  Meshconvert/Meshconvert_Desktop_2026.vcxproj.filters
  build/CompilerAndLinker.cmake
  build/downloadbuild.ps1
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

CMake code review
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Make some functions constexpr
  Utilities/FlexibleVertexFormat.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update CoPilot instructions
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

More contrent
  .github/copilot-instructions.md
Due: none

Update CoPilot instructions (#275)
  .github/copilot-instructions.md
Due: none

Add support for powerpc64le systems
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add support for powerpc64le systems (#276)
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Make some functions constexpr (#274)
  Utilities/FlexibleVertexFormat.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Remove VS 2019 projects
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .github/workflows/msbuild.yml
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_2019.targets
  DirectXMesh/DirectXMesh_Desktop_2019.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2019_Win10.vcxproj
  DirectXMesh/DirectXMesh_GDK_2019.vcxproj
  DirectXMesh_Desktop_2019.sln
  DirectXMesh_Desktop_2019_Win10.sln
  DirectXMesh_GDK_2019.sln
  Meshconvert/Meshconvert_Desktop_2019.vcxproj
  Meshconvert/Meshconvert_Desktop_2019_Win10.vcxproj
  README.md
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

meshconvert updated to support help and feedback
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

/? also help
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update readme
  README.md
Due: none

Remove legacy ToolsVersion
  DirectXMesh/DirectXMesh_Windows10_2022.vcxproj
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

noexcept updates
  Meshconvert/CmdLineHelpers.h
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml
