Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml

Update GDK packages for latest naming
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

windows-2019 image being retired for ADO
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

windows-2022 image is missing v142 spectre-mitigated libraries
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Code review
  build/RestoreGDK.ps1
Due: none

One more windows-2019
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add CoPilot instructions
  .github/copilot-instructions.md
Due: none

Markdown lint
  .github/copilot-instructions.md
Due: none

More CR
  .github/copilot-instructions.md
Due: none

GHA and ADO pipeline updates (#234)
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-SDK-release.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
  .azuredevops/templates/DirectXMesh-build-uwp.yml
  .github/copilot-instructions.md
  .github/linters/actionlint.yml
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

initial work on glTF
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/json.hpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

More work
  Meshconvert/Mesh_glTF.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

JSON must come from VCPKG
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/json.hpp
  build/vcpkg.json
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

minimal version test
  Meshconvert/Mesh_glTF.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Loading of buffer data
  CMakeLists.txt
  Meshconvert/Mesh_glTF.cpp
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CMake updates
  CMakeLists.txt
  DirectXMesh/DirectXMeshP.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CMake updates (#242)
  CMakeLists.txt
  DirectXMesh/DirectXMeshP.h
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix adjacency guard condition (#236)
  DirectXMesh/DirectXMeshletGenerator.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Minor code review and CoPilot instructions update
  .github/copilot-instructions.md
  .gitignore
  DirectXMesh/DirectXMeshUtil.cpp
  Utilities/FlexibleVertexFormat.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Review
  .github/copilot-instructions.md
Due: none

Table usage
  .github/copilot-instructions.md
Due: none

Fixed typo
  .github/copilot-instructions.md
Due: none

windows-2022 removed 10.0.22000.0
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMesh-OneFuzz.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Added /profile option to CMake
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Minor code review and CoPilot instructions update (#243)
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-CMake.yml
  .azuredevops/pipelines/DirectXMesh-OneFuzz.yml
  .github/copilot-instructions.md
  .gitignore
  CMakeLists.txt
  DirectXMesh/DirectXMeshUtil.cpp
  Utilities/FlexibleVertexFormat.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix /analyze warning
  DirectXMesh/DirectXMeshUtil.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix /analyze warning (#244)
  DirectXMesh/DirectXMeshUtil.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Upgrade to CMake 3.21
  CMakeLists.txt
  CMakePresets.json
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Minor code review for unusual paths
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Upgrade to CMake 3.21 (#248)
  CMakeLists.txt
  CMakePresets.json
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add October 2025 GDK new layout x64+Xbox projects
  .azuredevops/pipelines/DirectXMesh-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj.filters
  DirectXMesh_GDKX_2022.sln
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Code review feedabck
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add October 2025 GDK new layout x64+Xbox projects (#251)
  .azuredevops/pipelines/DirectXMesh-GitHub-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj.filters
  DirectXMesh_GDKX_2022.sln
  build/LogInfo.targets
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

October 27, 2025
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

October 27, 2025 (#252)
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Removed ARM64 from VS 2019 projects
  DirectXMesh/DirectXMesh_Desktop_2019_Win10.vcxproj
  DirectXMesh_Desktop_2019_Win10.sln
  Meshconvert/Meshconvert_Desktop_2019_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Remove ToolsVersion in vcxproj which is obsolete after VS 2017
  DirectXMesh/DirectXMesh_Desktop_2019.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2019_Win10.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2022.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2022_Win10.vcxproj
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj
  DirectXMesh/DirectXMesh_GDK_2019.vcxproj
  DirectXMesh/DirectXMesh_GDK_2022.vcxproj
  Meshconvert/Meshconvert_Desktop_2019.vcxproj
  Meshconvert/Meshconvert_Desktop_2019_Win10.vcxproj
  Meshconvert/Meshconvert_Desktop_2022.vcxproj
  Meshconvert/Meshconvert_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Removed ARM64 from VS 2019 projects (#253)
  DirectXMesh/DirectXMesh_Desktop_2019.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2019_Win10.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2022.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2022_Win10.vcxproj
  DirectXMesh/DirectXMesh_GDKX_2022.vcxproj
  DirectXMesh/DirectXMesh_GDK_2019.vcxproj
  DirectXMesh/DirectXMesh_GDK_2022.vcxproj
  DirectXMesh_Desktop_2019_Win10.sln
  Meshconvert/Meshconvert_Desktop_2019.vcxproj
  Meshconvert/Meshconvert_Desktop_2019_Win10.vcxproj
  Meshconvert/Meshconvert_Desktop_2022.vcxproj
  Meshconvert/Meshconvert_Desktop_2022_Win10.vcxproj
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update ADO pipeline to use GDK new layouts for 2510
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
  .azuredevops/templates/DirectXMesh-setup-gdk-auto.yml
  build/Directory.Build.props
  build/RestoreGDK.proj
  build/RestoreGDK.ps1
  build/SetupBWOI.cmd
  build/SetupBWOI.targets
  build/gdkedition.props
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pick lint
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK-Dev17.yml
  .azuredevops/pipelines/DirectXMesh-GitHub.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml
