Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml

Remove VS 2019 projects (#280)
  .azuredevops/pipelines/DirectXMesh-GitHub-GDK.yml
  .github/workflows/msbuild.yml
  .nuget/directxmesh_desktop_2019.nuspec
  .nuget/directxmesh_desktop_2019.targets
  DirectXMesh/DirectXMesh_Desktop_2019.vcxproj
  DirectXMesh/DirectXMesh_Desktop_2019_Win10.vcxproj
  DirectXMesh/DirectXMesh_GDK_2019.vcxproj
  DirectXMesh/DirectXMesh_Windows10_2022.vcxproj
  DirectXMesh_Desktop_2019.sln
  DirectXMesh_Desktop_2019_Win10.sln
  DirectXMesh_GDK_2019.sln
  Meshconvert/Meshconvert_Desktop_2019.vcxproj
  Meshconvert/Meshconvert_Desktop_2019_Win10.vcxproj
  README.md
  build/Directory.Build.props
  build/SetupBWOI.targets
  build/promotenuget.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

meshconvert updated to support feedback (#281)
  Meshconvert/CmdLineHelpers.h
  Meshconvert/Meshconvert.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

March 31, 2026
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  SECURITY.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

March 31, 2026 (#282)
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  SECURITY.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CoPilot recommends using https: instead of http
  CHANGELOG.md
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMesh.inl
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshConcat.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshNormals.cpp
  DirectXMesh/DirectXMeshOptimize.cpp
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshP.h
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshTangentFrame.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshVBReader.cpp
  DirectXMesh/DirectXMeshVBWriter.cpp
  DirectXMesh/DirectXMeshValidate.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  Meshconvert/Mesh.cpp
  Meshconvert/Mesh.h
  Meshconvert/MeshOBJ.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/vbo.h
  README.md
  Utilities/FlexibleVertexFormat.h
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update copilot instructions
  .github/copilot-instructions.md
Due: none

CoPilot recommends using https: instead of http (#283)
  .github/copilot-instructions.md
  CHANGELOG.md
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMesh.inl
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshConcat.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshNormals.cpp
  DirectXMesh/DirectXMeshOptimize.cpp
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshP.h
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshTangentFrame.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshVBReader.cpp
  DirectXMesh/DirectXMeshVBWriter.cpp
  DirectXMesh/DirectXMeshValidate.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  Meshconvert/Mesh.cpp
  Meshconvert/Mesh.h
  Meshconvert/MeshOBJ.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/vbo.h
  README.md
  Utilities/FlexibleVertexFormat.h
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix for SDK validation pipeline
  .azuredevops/templates/DirectXMesh-build-win32.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix for SDK validation pipeline (#286)
  .azuredevops/templates/DirectXMesh-build-win32.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Added extra bounds checks
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Added extra bounds checks (#288)
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update GitHub action for MSBuild on ARM64 native
  .github/workflows/msbuild.yml
Due: none

Update GitHub action for MSBuild on ARM64 native (#290)
  .github/workflows/msbuild.yml
Due: none

Code review
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Added nVerts parameter to OptimizeFaces
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  Meshconvert/Mesh.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Updated copilot
  .github/copilot-instructions.md
  DirectXMesh/DirectXMesh.h
  DirectXMesh/scoped.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Copilot updates
  .github/copilot-instructions.md
Due: none

Update GHA to ignore copilot instructions
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
  README.md
Due: none

Pick linkt
  README.md
Due: none

Update README.md
  README.md
Due: none

Udpate readme
  README.md
Due: none

Added nVerts parameter to OptimizeFaces (#289)
  .github/copilot-instructions.md
  .github/workflows/arm64.yml
  .github/workflows/arm64bvt.yml
  .github/workflows/bvt.yml
  .github/workflows/clangcl.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  .github/workflows/msbuild.yml
  .github/workflows/msvc.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  .github/workflows/vcpkg.yml
  .github/workflows/wsl.yml
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/scoped.h
  Meshconvert/Mesh.cpp
  README.md
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CMake update for v4.1 change
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CMake update for v4.1 change (#291)
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Minor CMake code review
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

One more edit
  CMakeLists.txt
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Minor CMake code review (#294)
  CMakeLists.txt
  build/JoinPaths.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

May 2026
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

CoPilot update
  .github/copilot-instructions.md
Due: none

May 2026 (#295)
  .github/copilot-instructions.md
  .nuget/directxmesh_desktop_win10.nuspec
  .nuget/directxmesh_uwp.nuspec
  CHANGELOG.md
  CMakeLists.txt
  DirectXMesh/DirectXMesh.h
  README.md
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add script to update vcpkg port
  build/updatevcpkg.ps1
Due: none

Add complete release
  build/completerelease.ps1
Due: none

Code review
  build/updatevcpkg.ps1
Due: none

Pick powershell lint
  build/completerelease.ps1
Due: none

Try again
  build/completerelease.ps1
Due: none

One more try
  build/completerelease.ps1
Due: none

Global suppressoin
  .github/linters/.powershell-psscriptanalyzer.psd1
  build/completerelease.ps1
Due: none

Updates
  .github/copilot-instructions.md
  build/updatewinget.ps1
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none
