Repository Microsoft/DirectXMesh: changes, and which Azure pipelines are due for each by the changed paths.
All: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml, .azuredevops/pipelines/DirectXMesh-GitHub.yml

Path conditions:
  .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-Test.yml
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, CMake*, build/*.cmake, build/*.in
  .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml: any file but: *.md, LICENSE, .github, .nuget, build/*.cmd, build/*.props, build/*.ps1, build/*.targets, build/*.xvd
  .azuredevops/pipelines/DirectXMesh-GitHub.yml: any of: .azuredevops/pipelines/DirectXMesh-GitHub.yml

Update copilot instr
  .github/copilot-instructions.md
Due: none

Pick lint
  .github/copilot-instructions.md
Due: none

Review
  .github/copilot-instructions.md
Due: none

Migrate all VS solutions to slnx
  .azuredevops/templates/DirectXMesh-build-gdk.yml
  .azuredevops/templates/DirectXMesh-build-gdkx.yml
  .azuredevops/templates/DirectXMesh-build-uwp.yml
  .azuredevops/templates/DirectXMesh-build-win32.yml
  .github/workflows/msbuild.yml
  DirectXMesh_Desktop_2022.sln
  DirectXMesh_Desktop_2022.slnx
  DirectXMesh_Desktop_2022_Win10.sln
  DirectXMesh_Desktop_2022_Win10.slnx
  DirectXMesh_GDKX_2022.sln
  DirectXMesh_GDKX_2022.slnx
  DirectXMesh_GDK_2022.sln
  DirectXMesh_GDK_2022.slnx
  DirectXMesh_Windows10_2022.sln
  DirectXMesh_Windows10_2022.slnx
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add default startup
  DirectXMesh_Desktop_2022.slnx
  DirectXMesh_Desktop_2022_Win10.slnx
  DirectXMesh_Desktop_2026.slnx
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Pin GitHub Actions to full-length commit SHAs
  .github/dependabot.yml
Due: none

Bounds-check sentinel and out-of-range indices in Validate()
  DirectXMesh/DirectXMeshValidate.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Enable use of clang-format
  .github/linters/.clang-format
  .github/linters/.editorconfig-checker.json
  .github/workflows/lint.yml
  Meshconvert/Meshconvert.cpp
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Reformat source
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshConcat.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshNormals.cpp
  DirectXMesh/DirectXMeshOptimize.cpp
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshP.h
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshTangentFrame.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshVBReader.cpp
  DirectXMesh/DirectXMeshVBWriter.cpp
  DirectXMesh/DirectXMeshValidate.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  DirectXMesh/scoped.h
  Meshconvert/CMO.h
  Meshconvert/CmdLineHelpers.h
  Meshconvert/Mesh.cpp
  Meshconvert/Mesh.h
  Meshconvert/MeshOBJ.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/SDKMesh.h
  Meshconvert/vbo.h
  Utilities/FlexibleVertexFormat.h
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Add missing inl files
  DirectXMesh/DirectXMesh.inl
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Update readme
  README.md
Due: none

update readme
  README.md
Due: none

Script update
  build/Format.ps1
Due: none

Enable use of clang-format (#322)
  .github/linters/.clang-format
  .github/linters/.editorconfig-checker.json
  .github/workflows/lint.yml
  DirectXMesh/DirectXMesh.h
  DirectXMesh/DirectXMesh.inl
  DirectXMesh/DirectXMeshAdjacency.cpp
  DirectXMesh/DirectXMeshClean.cpp
  DirectXMesh/DirectXMeshConcat.cpp
  DirectXMesh/DirectXMeshGSAdjacency.cpp
  DirectXMesh/DirectXMeshNormals.cpp
  DirectXMesh/DirectXMeshOptimize.cpp
  DirectXMesh/DirectXMeshOptimizeLRU.cpp
  DirectXMesh/DirectXMeshOptimizeTVC.cpp
  DirectXMesh/DirectXMeshP.h
  DirectXMesh/DirectXMeshRemap.cpp
  DirectXMesh/DirectXMeshTangentFrame.cpp
  DirectXMesh/DirectXMeshUtil.cpp
  DirectXMesh/DirectXMeshVBReader.cpp
  DirectXMesh/DirectXMeshVBWriter.cpp
  DirectXMesh/DirectXMeshValidate.cpp
  DirectXMesh/DirectXMeshWeldVertices.cpp
  DirectXMesh/DirectXMeshletGenerator.cpp
  DirectXMesh/scoped.h
  Meshconvert/CMO.h
  Meshconvert/CmdLineHelpers.h
  Meshconvert/Mesh.cpp
  Meshconvert/Mesh.h
  Meshconvert/MeshOBJ.cpp
  Meshconvert/Meshconvert.cpp
  Meshconvert/SDKMesh.h
  Meshconvert/vbo.h
  README.md
  Utilities/FlexibleVertexFormat.h
  Utilities/WaveFrontReader.h
  build/Format.ps1
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix for ADO pipeline
  .azuredevops/pipelines/DirectXMesh-SDL.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Fix for ADO pipeline (#323)
  .azuredevops/pipelines/DirectXMesh-SDL.yml
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Bounds-check sentinel and out-of-range indices in Validate() (#317)
  DirectXMesh/DirectXMeshValidate.cpp
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

WaveFrontReader: handle MTL xyz and spectral colors and 'd -halo'
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Remove failing cases due to GHA image changes- #750
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

WaveFrontReader: read per-vertex colors from "v x y z r g b"
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

Remove failing cases due to GHA image changes- #750 (#328)
  .github/workflows/msbuild.yml
  build/CompilerAndLinker.cmake
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL-13.yml, .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

WaveFrontReader: apply clang-format
  Utilities/WaveFrontReader.h
Due: .azuredevops/pipelines/DirectXMesh-GitHub-WSL.yml

GHA update for in-use handling
  .github/workflows/arm64.yml
  .github/workflows/clangcl.yml
  .github/workflows/main.yml
  .github/workflows/test.yml
  .github/workflows/uwp.yml
  build/PurgeFolder.ps1
Due: none
